@import "./vars.scss";

body {
  background: $brand-blue;
  // CLASSES
  .section-items {
    display: flex;
    flex-direction: row;
    background: #fff;
    height: $section-items-height;
    padding: 0 5rem;
    align-items: center;
    z-index: 5;
  
    .section-item {
      width: 100%;
      color: $brand-blue;
  
      &-svg {
        margin: 1rem;
      }
  
      h3 {
        text-align: center;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
  }

  main {
    position: absolute;
    top: $nav-height;
    width: 100%;
    overflow: hidden;
    // VOLUNTEER SECTION
    #volunteer-section { 
      height: $section-height;

      #volunteer-img{
        background-image: url(../assets/img/man-and-teen.jpg);
        background-size: cover;
        height: $section-img-height;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: 55%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        #text {
          z-index: 5;
          text-align: center;

          h2 {
            font-size: 4rem;
          } 
  
          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }

        ::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: $section-img-height;
          width: 100%;
          background: #222;
          opacity: 0.1;
          z-index: -5;
        }
      }

      #who-svg {
        background: url(../assets/img/users-solid.svg) center no-repeat;
      }

      #volunteer-svg {
        background: url(../assets/img/heart-regular.svg) center no-repeat;
      }

      #training-svg {
        background: url(../assets/img/chalkboard-teacher-solid.svg) center no-repeat;
      }
    }
    // DONATE SECTION
    #donate-section { 
      position: relative;
      top: -$section-gap;

      #donate-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: $section-img-height;
        width: 100%;
        background: #000;
        opacity: 0.3;
        z-index: 1;
      }

      #donate-img{
        background-image: url(../assets/img/donate.jpg);
        background-size: cover;
        height: $section-img-height;
        background-position-x: center;
        background-position-y: 80%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        .donate-text-div {
          text-align: center;
          width: 33%;
          color: #fff;
          z-index: 5;

          h2 {
            font-size: 4rem;
          } 

          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }

      #envelope-svg {
        background: url(../assets/img/envelope-regular.svg) center no-repeat;
      }

      #mail-svg {
        background: url(../assets/img/envelope-regular.svg) center no-repeat;
      }
      #mail-p {
        text-align: center;
      }

      #donate-svg {
        background: url(../assets/img/hand-holding-heart-solid.svg) center no-repeat;
      }

      #bbb-svg {
        background: url(../assets/img/BBB.jpg) center no-repeat;
        background-size: contain;
      }
      #bbb-p {
        width: 60%;
        font-size: 0.7rem;
        text-align: center;
        margin-left: 6rem;
      }
    }
    // ABOUT SECTION
    #about-section { 
      position: relative;
      top: -$section-gap;

      #about-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: $section-img-height;
        width: 100%;
        background: #000;
        opacity: 0.4;
        z-index: 1;
      }

      #about-img{
        background-image: url(../assets/img/family-pic-4.jpg);
        height: $section-img-height;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 20%;
        background-position-y: 50%;
        z-index: -1;
      }

      %about-contents {
        color: #fff;
        z-index: 5;
        transition: all 0.4s ease-in-out;
        position: absolute;
      }
        
      h2 {
        font-size: 4rem;
        @extend %about-contents;
        top: 30%;
        left: 39%;
      }

      .about-btn {
        @extend %about-contents;
        background: $brand-blue;
        width: 150px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        top: 55%;

        &:hover {
          background: $brand-red;
        }  
      }

      #mission {
        left: 34%;
      }

      #what-is {
        left: 55%;
      }

      p {
        @extend %about-contents;
        top: 20%;
        left: 150%;
      }
    }

    #contact-section {
      position: relative;
      top: -$section-gap;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin: auto;

      h2 {
        font-size: 4rem;
        margin: 4rem 0;
      }

      form {
        width: 100%;

        .form-div {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          label {
            margin-bottom: 0.5rem;
          }

          input {
            margin-bottom: 1rem;
            padding: 0.5rem;
          }

          #form-message {
            padding: 0.5rem 4rem 6rem 0.5rem;
          }
        }

        #send-btn {
          padding: 0.7rem 2rem;

          &:hover {
            background: $dark-color;
            color: #fff;
          }
        }
      }
    }
  }
}
