@import "./vars.scss";

body {
  
  nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 4rem;
    background: #fff;
    
    #logo {
      width: 4%;
      align-self: center;
    }
    
    #title {
      font-size: 2rem;
      color: $brand-blue;
      align-self: center;
    }
    
    #secondary-nav-links {
      display: flex;
      flex-direction: row;
      margin-right: 3rem;
      
      li {
        align-self: center;
        margin: 0 2rem;
        
        a {

          color: $brand-blue;
        }
        
        div {
          width: 50px;
        }
      }
    
      .menu-wrap {
        z-index: 2;
        display: grid;
        grid-template-rows: [row-1] 1fr [row-2] 1fr;
        position: absolute;
        top: 20px;
        right: 6rem;
  
        .menu {
          grid-area: row-2/row-2;
          width: 100%;
          height: 100%;
          visibility: hidden;
          margin-top: 2rem;
  
          ul {
            display: flex;
            flex-direction: row;
            margin-left: 10rem;
          }
        }
    
        .toggler {
          grid-area: row-1/row-1;
          z-index: 2;
          cursor: pointer;
          width: 50px;
          height: 50px;
          opacity: 0;
  
          &:checked {
            + .hamburger > div {
              transform: rotate(135deg);
  
              &::before,
              &::after {
                top: 0;
                transform: rotate(90deg);
              }
            }
  
            &:hover + .hamburger > div {
              transform: rotate(225deg);
            }
  
            ~ .menu {
              visibility: visible;
  
              > div {
                > div {
                  opacity: 1;
                  margin-left: -30rem;
                  transition: all 0.4s ease 0.4s;
                }
              }
            }
          }
        }
    
        .hamburger {
          grid-area: row-1/row-1;
          z-index: 1;
          width: 60px;
          height: 60px;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
  
          > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 1px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            background: $brand-blue;
  
            &::before,
            &::after {
              content: "";
              position: absolute;
              z-index: 1;
              top: -10px;
              width: 100%;
              height: 1px;
              background: inherit;
            }
  
            &::after {
              top: 10px;
            }
          }
        }
      }
    }
  }
  main {
    position: absolute;
    top: 100px;
    width: 100%;
    color: #fff;

    #volunteer-section { 

      #volunteer-items {

        h2 {
          font-size: 2rem;
        }

        .volunteer-item {

          .volunteer-item-svg {
            height: 50px;
            width: auto;
            
          }

          #who-svg {
            background: url(../assets/img/users-solid.svg) no-repeat;
          }

          #volunteer-svg {
            background: url(../assets/img/heart-regular.svg) no-repeat;
          }

          #training-svg {
            background: url(../assets/img/chalkboard-teacher-solid.svg) no-repeat;
          }
        }
      }
    }
  }
}
