@import "./vars.scss";

body {
  // CLASSES
  .section-items {
    display: flex;
    flex-direction: row;
    background: #fff;
    height: $section-items-height;
    padding: 0 5rem;
    align-items: center;
    z-index: 5;
  
    .section-item {
      width: 100%;
      color: $brand-blue;
  
      &-svg {
        margin: 1rem;
      }
  
      h3 {
        text-align: center;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  // NAVIGATION
  nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: $nav-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 4rem;
    background: #fff;
    z-index: 10000;
    
    #logo {
      width: 4%;
      align-self: center;
    }
    
    #title {
      font-size: 2rem;
      color: $brand-blue;
      align-self: center;
    }
    
    #secondary-nav-links {
      display: flex;
      flex-direction: row;
      margin-right: 3rem;

      #visible-links {
        display: flex;
        flex-direction: row;
        transition: all 0.4s ease 0.4s;
        margin-bottom: 0rem;
      }
      
      li {
        align-self: center;
        margin: 0 2rem;
        
        a {
          color: $brand-blue;
        }
        
        div {
          width: 50px;
        }
      }
    
      .menu-wrap {
        z-index: 2;
        display: grid;
        grid-template-rows: [row-1] 1fr [row-2] 1fr;
        position: absolute;
        top: 35px;
  
        .menu {
          grid-area: row-1/row-1;
          position: absolute;
          left: -450px;
          top: 35px;
          opacity: 0;
  
          ul {
            display: flex;
            flex-direction: row;
          }
        }
    
        .toggler {
          grid-area: row-1/row-1;
          z-index: 2;
          cursor: pointer;
          width: 50px;
          height: 50px;
          opacity: 0;
  
          &:checked {
            + .hamburger > div {
              transform: rotate(135deg);
  
              &::before,
              &::after {
                top: 0;
                transform: rotate(90deg);
              }
            }
  
            &:hover + .hamburger > div {
              transform: rotate(225deg);
            }
  
            ~ .menu {
              transition: all 0.4s ease 0.4s;
              opacity: 1;
  
              > div {
                > div {
                  opacity: 1;
                }
              }
            }
          }
        }
    
        .hamburger {
          grid-area: row-1/row-1;
          z-index: 1;
          width: 60px;
          height: 60px;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
  
          > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 1px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            background: $brand-blue;
  
            &::before,
            &::after {
              content: "";
              position: absolute;
              z-index: 1;
              top: -10px;
              width: 100%;
              height: 1px;
              background: inherit;
            }
  
            &::after {
              top: 10px;
            }
          }
        }
      }
    }
  }

  main {
    position: absolute;
    top: $nav-height;
    width: 100%;

    #volunteer-section { 
      height: $section-height;

      #volunteer-img{
        background-image: url(../assets/img/man-and-teen.jpg);
        background-size: cover;
        height: $section-img-height;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: 55%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        #text {
          z-index: 5;
          text-align: center;

          h2 {
            font-size: 4rem;
          } 
  
          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }

        ::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: $section-img-height;
          width: 100%;
          background: #222;
          opacity: 0.1;
          z-index: -5;
        }
      }

      #who-svg {
        background: url(../assets/img/users-solid.svg) center no-repeat;
      }

      #volunteer-svg {
        background: url(../assets/img/heart-regular.svg) center no-repeat;
      }

      #training-svg {
        background: url(../assets/img/chalkboard-teacher-solid.svg) center no-repeat;
      }
    }
    #donate-section { 
      position: relative;
      top: -$section-gap;

      #donate-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: $section-img-height;
        width: 100%;
        background: #000;
        opacity: 0.3;
        z-index: 1;
      }

      #donate-img{
        background-image: url(../assets/img/donate.jpg);
        background-size: cover;
        height: $section-img-height;
        background-position-x: center;
        background-position-y: 80%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        .donate-text-div {
          text-align: center;
          width: 33%;
          color: #fff;
          z-index: 5;

          h2 {
            font-size: 4rem;
          } 

          p {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }

      #mail-svg {
        background: url(../assets/img/envelope-regular.svg) center no-repeat;
      }
      #mail-p {
        text-align: center;
        line-height: 1.8;
      }

      #donate-svg {
        background: url(../assets/img/hand-holding-heart-solid.svg) center no-repeat;
      }

      #bbb-svg {
        background: url(../assets/img/BBB.jpg) center no-repeat;
        background-size: contain;
      }
      #bbb-p {
        width: 60%;
        font-size: 0.5rem;
        text-align: center;
        margin-left: 4.5rem;
      }
    }

    #about-section { 
      position: relative;
      top: -$section-gap;

      #about-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: $section-img-height;
        width: 100%;
        background: #000;
        opacity: 0.4;
        z-index: 1;
      }

      #about-img{
        background-image: url(../assets/img/family-pic-4.jpg);
        background-size: cover;
        height: $section-img-height;
        background-position-x: 20%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        
        h2 {
          font-size: 4rem;
          z-index: 5;
        }

        #about-buttons {
          z-index: 5;
          display: flex;
          flex-direction: row;

          .btn {
            // outline: #fff solid 2px;
            background: $brand-blue;
            margin: 2rem 5rem;

            &:hover {
              background: $brand-red;
            }  
          }
        }
      }
    }
  }
}
