body {
  background: #00437A;
}

body .section-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  height: 23vh;
  padding: 0 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

body .section-items .section-item {
  width: 100%;
  color: #00437A;
}

body .section-items .section-item-svg {
  margin: 1rem;
}

body .section-items .section-item h3 {
  text-align: center;
}

body .section-items .section-item:hover {
  cursor: pointer;
}

body main {
  position: absolute;
  top: 14vh;
  width: 100%;
  overflow: hidden;
}

body main #volunteer-section {
  height: 86vh;
}

body main #volunteer-section #volunteer-img {
  background-image: url(../assets/img/man-and-teen.jpg);
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 55%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

body main #volunteer-section #volunteer-img #text {
  z-index: 5;
  text-align: center;
}

body main #volunteer-section #volunteer-img #text h2 {
  font-size: 4rem;
}

body main #volunteer-section #volunteer-img #text p {
  font-size: 1.5rem;
  font-weight: 300;
}

body main #volunteer-section #volunteer-img ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100%;
  background: #222;
  opacity: 0.1;
  z-index: -5;
}

body main #volunteer-section #who-svg {
  background: url(../assets/img/users-solid.svg) center no-repeat;
}

body main #volunteer-section #volunteer-svg {
  background: url(../assets/img/heart-regular.svg) center no-repeat;
}

body main #volunteer-section #training-svg {
  background: url(../assets/img/chalkboard-teacher-solid.svg) center no-repeat;
}

body main #donate-section {
  position: relative;
  top: -3vh;
}

body main #donate-section #donate-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 1;
}

body main #donate-section #donate-img {
  background-image: url(../assets/img/donate.jpg);
  background-size: cover;
  height: 60vh;
  background-position-x: center;
  background-position-y: 80%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #donate-section #donate-img .donate-text-div {
  text-align: center;
  width: 33%;
  color: #fff;
  z-index: 5;
}

body main #donate-section #donate-img .donate-text-div h2 {
  font-size: 4rem;
}

body main #donate-section #donate-img .donate-text-div p {
  font-size: 1.5rem;
  font-weight: 300;
}

body main #donate-section #envelope-svg {
  background: url(../assets/img/envelope-regular.svg) center no-repeat;
}

body main #donate-section #mail-svg {
  background: url(../assets/img/envelope-regular.svg) center no-repeat;
}

body main #donate-section #mail-p {
  text-align: center;
}

body main #donate-section #donate-svg {
  background: url(../assets/img/hand-holding-heart-solid.svg) center no-repeat;
}

body main #donate-section #bbb-svg {
  background: url(../assets/img/BBB.jpg) center no-repeat;
  background-size: contain;
}

body main #donate-section #bbb-p {
  width: 60%;
  font-size: 0.7rem;
  text-align: center;
  margin-left: 6rem;
}

body main #about-section {
  position: relative;
  top: -3vh;
}

body main #about-section #about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}

body main #about-section #about-img {
  background-image: url(../assets/img/family-pic-4.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 50%;
  z-index: -1;
}

body main #about-section h2, body main #about-section .about-btn, body main #about-section p {
  color: #fff;
  z-index: 5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

body main #about-section h2 {
  font-size: 4rem;
  top: 30%;
  left: 39%;
}

body main #about-section .about-btn {
  background: #00437A;
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  top: 55%;
}

body main #about-section .about-btn:hover {
  background: #E9221E;
}

body main #about-section #mission {
  left: 34%;
}

body main #about-section #what-is {
  left: 55%;
}

body main #about-section p {
  top: 20%;
  left: 150%;
}

body main #contact-section {
  position: relative;
  top: -3vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: auto;
}

body main #contact-section h2 {
  font-size: 4rem;
  margin: 4rem 0;
}

body main #contact-section form {
  width: 100%;
}

body main #contact-section form .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

body main #contact-section form .form-div label {
  margin-bottom: 0.5rem;
}

body main #contact-section form .form-div input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

body main #contact-section form .form-div #form-message {
  padding: 0.5rem 4rem 6rem 0.5rem;
}

body main #contact-section form #send-btn {
  padding: 0.7rem 2rem;
}

body main #contact-section form #send-btn:hover {
  background: #333;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */