body {
  background: #00437A;
}

body main {
  position: absolute;
  top: 14vh;
  width: 100%;
  overflow: hidden;
}

body main .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

body main .second-section h2 {
  font-size: 4rem;
  margin-top: 4rem;
}

body main #gallery-section {
  margin-bottom: 5rem;
}

body main #gallery-section .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  margin: 1rem;
}

body main #gallery-section .gallery figure {
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
  height: 250px;
}

body main #gallery-section .gallery figure img {
  max-width: 100%;
  max-height: auto;
  -webkit-transform: translate3d(0, -20px, 0) scale(1.12);
          transform: translate3d(0, -20px, 0) scale(1.12);
  -webkit-transition: all .5s;
  transition: all .5s;
}

body main #gallery-section .gallery figure figcaption {
  position: absolute;
  padding: 1rem 2rem;
  top: 0;
  width: 100%;
  text-align: center;
}

body main #gallery-section .gallery figure figcaption h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

body main #gallery-section .gallery figure figcaption p {
  margin-top: 1rem;
  font-size: 0.8rem;
}

body main #gallery-section .gallery figure figcaption .additional {
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body main #gallery-section .gallery figure:hover {
  background: #000;
}

body main #gallery-section .gallery figure:hover img {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  opacity: 0.6;
}

body main #gallery-section .gallery figure:hover .additional {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body main #history-section {
  position: relative;
}

body main #history-section #history-overlay {
  position: absolute;
  height: 80vh;
  width: 100%;
  top: 0;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}

body main #history-section #history-img {
  background-image: url(../assets/img/lady-with-picture.jpg);
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 50%;
  z-index: -1;
}

body main #history-section #history-content {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  width: 50%;
}

body main #history-section #history-content h2 {
  text-align: left;
  margin-bottom: 2rem;
}

body main #history-section #history-content p {
  margin-right: 5rem;
}

body main #board-section h3 {
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

body main #board-section #board-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4rem;
}

body main #board-section .half {
  margin: 0 7rem;
}

body main #board-section .board-group {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=second.css.map */