@import "./vars.scss";

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(./assets/fonts/Quicksand-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(./assets/fonts/Quicksand-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(./assets/fonts/Quicksand-Bold.ttf);
  font-weight: bold;
}

// GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  // only works in chrome
}

// ELEMENTS
body {
  line-height: 1.6;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

a[class^='btn-primary']:hover {
  color: $brand-blue;
}

.btn {
  @extend %btn-shared;

  &-primary {
    color: #fff;
    background-color: $brand-blue;
    font-weight: 300;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: rgb(0, 49, 88);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.hover-icon {
  transition: all ease-in-out 0.3s;

  &:hover {
    height: 80px;
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}

.bold-hover {
  &:hover {
    font-weight: 600;
  }

  &::after {
    content: attr(title);
    visibility: hidden;
    overflow: hidden;
    font-weight: bold;
    display: block;
    height: 0;
  }
}

.section-item-svg {
  height: 65px;
  width: auto;
}

.my-github:hover {
  font-weight: bold;
}

.no-hover:hover {
  cursor: default !important;
}

// NAVIGATION
.main-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $nav-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0 4rem;
  background: #fff;
  z-index: 10000;
  
  #logo {
    width: 4%;
    align-self: center;
  }
  
  #title {
    font-size: 2rem;
    color: $brand-blue;
    align-self: center;
  }
  
  #secondary-nav-links {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;

    #visible-links {
      display: flex;
      flex-direction: row;
      transition: all 0.4s ease 0.4s;
      margin-bottom: 0rem;
    }
    
    li {
      align-self: center;
      margin: 0 2rem;
      
      a {
        color: $brand-blue;
      }
      
      div {
        width: 50px;
      }
    }
  
    .menu-wrap {
      z-index: 2;
      display: grid;
      grid-template-rows: [row-1] 1fr [row-2] 1fr;
      position: absolute;
      top: 27px;

      .menu {
        grid-area: row-1/row-1;
        position: absolute;
        left: -450px;
        top: 35px;
        visibility: hidden;
        opacity: 0;


        ul {
          display: flex;
          flex-direction: row;
        }
      }
  
      .toggler {
        grid-area: row-1/row-1;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;

        &:hover + .hamburger > div {
          transform: rotate(360deg);

          &:before,
          &:after {
            transform: rotate(360deg);
          }
        }

        &:checked {
          + .hamburger > div {
            transform: rotate(135deg);

            &::before,
            &::after {
              top: 0;
              transform: rotate(90deg);
            }
          }

          &:hover + .hamburger > div {
            transform: rotate(225deg);
          }

          ~ .menu {
            visibility: visible;
            transition: all 0.4s ease 0.4s;
            opacity: 1;

            > div {
              > div {
                opacity: 1;
              }
            }
          }
        }
      }
  
      .hamburger {
        grid-area: row-1/row-1;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          position: relative;
          flex: none;
          width: 100%;
          height: 1px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease;
          background: $brand-blue;

          &::before,
          &::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -10px;
            width: 100%;
            height: 1px;
            background: inherit;
          }

          &::after {
            top: 10px;
          }
        }
      }
    }
  }
}

// footer
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0 1rem 0;
  color: #fff;

  p {
    margin: 1rem;
  }
}